<script src="~/Scripts/filejs.js"></script>
<link data-require="bootstrap-css@3.1.1" data-semver="3.1.1" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<script data-require="angular.js@1.3.0" data-semver="1.3.0" src="https://code.angularjs.org/1.3.0/angular.js"></script>
<script data-require="jquery@@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script data-require="bootstrap@3.1.1" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://rawgit.com/michaelbromley/angularUtils-pagination/master/dirPagination.js"></script>

<h2>Employees</h2>

<div class="row">
    <div class="col-xs-4">
        <label for="search">Search:</label>
        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
        <label for="search">items per page:</label>
        <input type="number" min="1" max="maxs" class="form-control" ng-model="pageSize">
    </div>
</div>


<div class="container">

    <br />
    <div>
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Department
                </th>
                <th>
                    Salary
                </th>
            </tr>
            <tr dir-paginate="emp in Employees | filter:q | itemsPerPage:pageSize " current-page="currentPage"
                style="cursor:pointer" data-toggle="modal" data-target="#myModal"
                ng-click="getemp(emp)">

                <td>{{emp.Name}}</td>

                <td>{{emp.Department}}</td>

                <td>{{emp.Salary | currency}}</td>

            </tr>
            <tr>
                <td colspan="2" align="center"><strong>Total Salaries</strong></td>
                <td><strong> {{getTotal() | currency}}</strong></td>
            </tr>
        </table>
        <div>
            <div class="text-center">
                <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Employee Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reload()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="text-align:center">
                    <div>
                        <label class="col-md-6">Name</label>
                        <label class="col-md-6">Salary</label>

                    </div>
                </div>
                <div class="row" >
                    <div style="text-align:center">
                        <label class="col-md-6">{{EditEmp.Name}}</label>
                        <input type="number" ng-model="EditEmp.Salary" />

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="ButtonClick(EditEmp)">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="reload()" >Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

